<h3 id="title">openblotter</h3>
<div id="header">
  <div class="buttonContainer">
    <i class="fa fa-search" ng-click="showSearch = !showSearch"></i>
    <a href="https://github.com/jeffhos/pgh-crime-blotter" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <i class="fa fa-info-circle" ng-click="showAbout = !showAbout"></i>
  </div>
</div>

<%# Map %>
<div id="map"></div>

<%# Search %>
<div id="search" class="popout" ng-show="showSearch">
  <form>
    <table>
      <tr class="section" id="date">
        <td class="sectionTitle">
          <h4>Date range</h4>
        </td>
        <td class="sectionContent">
          <div class="subsection">
            <div class="inputWrapper half">
              <label for="startdate">Start date</label>
              <input type="date" name="startdate" id="startdate" ng-model="startDate">
            </div>

            <div class="inputWrapper half">
              <label for="enddate">End date</label>
              <input type="date" name="enddate" id="enddate" ng-model="endDate">
            </div>
          </div>
        </td>
      </tr>
      <tr class="section" id="time">
        <td class="sectionTitle">
          <h4>Time of day</h4>
        </td>
        <td class="sectionContent">
          <div class="subsection">
            <div class="inputWrapper half">
              <label for="starttime">Start time</label>
              <input type="time" name="starttime" id="starttime" ng-model="startTime">
            </div>

            <div class="inputWrapper half">
              <label for="endtime">End time</label>
              <input type="time" name="endtime" id="endtime" ng-model="endTime">
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="buttonContainer">
      <button ng-click="updateData()">Search</button>
    </div>
  </form>
</div>

<%# "About" popup %>
<div id="about" class="popout" ng-show="showAbout">
  <h1>OpenBlotter <span style="font-weight:100">an Open Pittsburgh project</span></h1>
  <p>I scrape <a href="http://communitysafety.pittsburghpa.gov/Blotter.aspx">Pittsburgh Bureau of
    Police logs</a> every morning and display criminal incidents.</p>
  <p>I strive to provide the best analysis of the city's data, but I'm limited to the accuracy of
    the contents and the number of incidents provided by the police. It is important that any
    decisions based on this data be confirmed using additional resources.</p>
  <p>As the city says, <em>"The City of Pittsburgh has provided this information as a service. The
    City assumes no responsibility for the use of information posted on this site."</em>
  <p>Blame Tim Condello, <a href="https://twitter.com/mhowe0422" target="_blank">Mark Howe</a>,
    <a href="https://twitter.com/andrewmcgill" target="_blank">Andrew McGill</a>,
    <a href="https://twitter.com/catskul" target="_blank">Andy Somerville</a> and
    <a href="https://twitter.com/openpgh" target="_blank">Open Pittsburgh</a> for creating me.</p>
</div>

<%# Sidebar %>
<div id="content">
  <div class="section" id="data">
    <div class="block">
      <h4 class="center uppercase">Total incidents</h4>
      <h1 class="center" id="total_incidents">{{incidents.length}}</h1>
    </div>

    <div class="block" id="aggregate">
      <h4 class="center uppercase" style="margin-top:20px;">Top incidents</h4>
      <table>
        <tr ng-repeat="aggregate in aggregates">
          <td><strong>{{aggregate.description}}</strong></td>
          <td>{{aggregate.total}}</td>
        </tr>
      </table>
    </div>

    <div class="block" id="incident_list" style="width:auto">
      <h4 class="center uppercase">All incidents</h4>
      <div class="incident" ng-repeat="incident in incidents"
           ng-class="incident.type == 'ARREST' ? 'arrest' : 'offense'">
        <div class="timestamp">{{incident.time}} &mdash; {{incident.type}}</div>
        <div class="charges" ng-repeat="charge in incident.charges">
          <h1>{{charge.description}}</h1>
        </div>
        <div class="info">
          <table>
            <tr>
              <td><i class='fa fa-map-marker'></i></td>
              <td>
                <h2>{{incident.neighborhood}}</h2>
                <h2>{{incident.address}}</h2>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
