<!DOCTYPE html>
<html>
<head>
  <title>openblotter | tracking crime in pittsburgh, pa</title>
  <meta name="description" content="An Open Pittsburgh project scraping and displaying crime data in the Steel City." />

  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
