<!DOCTYPE html>
<html ng-app="blotterApp">
<head>
  <title>OpenBlotter | Tracking crime in Pittsburgh, PA</title>
  <meta name="description" content="An Open Pittsburgh project scraping and displaying crime data in the Steel City." />

  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="BlotterCtrl">

<%= yield %>

</body>
</html>
